name: Docker Image Manual Build & Push

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extracting version
        id: testlum_version
        uses: QwerMike/xpath-action@v1
        with:
          filename: ./pom.xml
          expression: /project/version/text()
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            BUILD_VERSION=${{ steps.testlum_version.outputs.result }}
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/testlum/testlum:${{ steps.testlum_version.outputs.result }}
            ghcr.io/testlum/testlum:latest
