name: Docker Image Manual Build & Push

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install xml starlet
        run: sudo apt-get update && sudo apt-get install -y xmlstarlet

      - name: Extracting version
        id: testlum_version
        run: |
          VERSION=$(xmlstarlet sel -t -v "//version/text()" pom.xml)
          echo "::set-output name=version::$VERSION"          
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            APP_VERSION=${{ steps.testlum_version.outputs.version }}
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/testlum/testlum:${{ steps.testlum_version.outputs.version }}
            ghcr.io/testlum/testlum:latest
